<div class="container">
  <h1>Cadastro de Parceiro</h1>
  <h2>Primeiramente, informe seus dados</h2>
  <h3>As informações da sua loja serão solicitadas posteriormente</h3>
  <form [formGroup]="formulario">
    <div>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error *ngIf="formulario.get('nome')?.invalid">Nome é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="sobrenome">
        <mat-error *ngIf="formulario.get('sobrenome')?.invalid">Sobrenome é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf">
        <mat-error *ngIf="formulario.get('cpf')?.invalid">CPF é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formulario.get('email')?.invalid">E-mail é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="usuario">
        <mat-error *ngIf="formulario.get('usuario')?.invalid">Usuário é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha">
        <mat-error *ngIf="formulario.get('senha')?.invalid">Senha é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="endereco">
      <h3>Informe o endereço de sua residencia</h3>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep">
        <mat-error *ngIf="formulario.get('endereco.cep')?.invalid">CEP é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero">
        <mat-error *ngIf="formulario.get('endereco.numero')?.invalid">Número é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <button mat-button type="submit" [disabled]="formulario.invalid" (click)="cadastraParceiro()">Cadastrar</button>
  </form>
</div>
