<h1>Parceiros</h1>
<table mat-table [dataSource]="parceiros">
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let parceiro">{{parceiro.codigo}}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let parceiro">{{parceiro.nome + ' ' + parceiro.sobrenome}}</td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let parceiro">{{parceiro.cpf}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-mail</th>
    <td mat-cell *matCellDef="let parceiro">{{parceiro.email}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
