<mat-drawer-container class="container">
  <mat-drawer class="menu" #drawer mode="side" [opened]="isAuthenticated">
    <h1 *ngIf="perfil">{{perfil.firstName + ' ' + perfil.lastName}}</h1>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['parceiros', 'listar']">
        <mat-icon mat-list-icon>business</mat-icon>
        <div mat-line>Parceiros</div>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <app-header (onMenu)="drawer.toggle()" *ngIf="isAuthenticated"></app-header>
  <div class="pagina">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
