<mat-drawer-container class="drawer">
  <mat-drawer class="menu" #drawer mode="over">
    <h1 *ngIf="perfil">{{perfil.firstName + ' ' + perfil.lastName}}</h1>
    <mat-nav-list>
      <a mat-list-item [routerLink]="m.link" *ngFor="let m of getMenus()" (click)="drawer.toggle()">
        <div mat-line>{{m.texto}}</div>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <app-header (onMenu)="drawer.toggle()" *ngIf="isAuthenticated"></app-header>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
