<div class="container">
  <div class="row">
    <div class="col p-3">
      <h1>vamos falar do seu estabelecimento?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col p-3">
      <h2>agora vamos precisar que você fale um pouco sobre o seu estabelecimento</h2>
    </div>
  </div>
  <div class="row p-3 p-lg-5">
    <form autocomplete="off" [formGroup]="formulario">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>nome da estabelecimento</mat-label>
          <input matInput formControlName="nome">
          <mat-error *ngIf="formulario.get('nome')?.errors?.required">campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>cnpj</mat-label>
          <input matInput mascara="##.###.###/####-##" formControlName="cnpj" maxlength="18">
          <mat-error *ngIf="formulario.get('cnpj')?.errors?.required">campo obrigatório</mat-error>
          <mat-error *ngIf="formulario.get('cnpj')?.errors?.minlength || formulario.get('cnpj')?.errors?.cnpjInvalido">cnpj inválido</mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="endereco">
        <h3>informe o endereço de seu estabelecimento</h3>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>cep</mat-label>
              <input matInput mascara="#####-###" formControlName="cep">
              <mat-error *ngIf="formulario.get('endereco.cep')?.errors?.required">campo obrigatório</mat-error>
              <mat-error *ngIf="formulario.get('endereco.cep')?.errors?.minlength">cep inválido</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>número</mat-label>
              <input matInput formControlName="numero">
              <mat-error *ngIf="formulario.get('endereco.numero')?.errors?.required">campo obrigatório</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <button mat-button type="submit" [disabled]="formulario.invalid" (click)="cadastraLoja()">cadastrar</button>
    </form>
  </div>
</div>
